@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

.side {
    flex: 1;
    position: relative;
    background-image: url(./assets/bg.avif);
    background-size: cover;
}

.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 20%;
}

.logo_icon {
    height: 100px;
}

.logo_text {
    color: white;
    font-family: "Norse";
    font-size: 5rem;
}

.main {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(244, 244, 244);
}

button {
    background-color: #596D48;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    margin: 30px 40px;
}

.title {
    padding: 50px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding: 3px 5px;
    width: 70%;
}

input:invalid {
    border-color: red;
}

label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.form_container {
    padding: 20px 50px;
    background-color: white;
}

.form_container h2 {
    width: 100%;
}

.form_container p {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 40%;
}

.form_container p+p {
    margin-top: 15px;
}

.signup_form {
}

.login {
    margin-left: 40px;
}

.login a {
    text-decoration: none;
    font-weight: bold;
    color: grey;
}